body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: hotpink;
}

h1 {
    font-family: impact;
    font-size: 36px;
}

.hidden {
    display: none;
}

p {
    font-family: Impact;
    color: white;
    font-size: 24px;
    text-shadow: 2px, 2px, 3px black;
}
.user-stats {
    display: flex;
    justify-content: flex-start;
    color: lightgoldenrodyellow;
    width: 100%;
}
a {
    color: white;
}